learn-terraform-aws/.terraform/providers/registry.terraform.io/hashicorp/aws/5.86.1/linux_amd64/LICENSE.txt
learn-terraform-aws/.terraform/providers/registry.terraform.io/hashicorp/aws/5.86.1/linux_amd64/terraform-provider-aws_v5.86.1_x5
learn-terraform-aws/aula-backend
learn-terraform-aws/aula-comandos-basicos
learn-terraform-aws/descomplicando_terraform_turma_2024
learn-terraform-aws/aula-backend/.terraform.lock.hcl
learn-terraform-docker/.terraform.lock.hcl
learn-terraform-docker/main.tf
learn-terraform-docker/provider.tf
learn-terraform-docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/linux_amd64/CHANGELOG.md
learn-terraform-docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/linux_amd64/LICENSE
learn-terraform-docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/linux_amd64/README.md
learn-terraform-docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/linux_amd64/terraform-provider-docker_v3.0.2
tf-made-easy-book/.terraform/providers/registry.terraform.io/hashicorp/aws/5.88.0/linux_amd64/LICENSE.txt
tf-made-easy-book/.terraform.lock.hcl
tf-made-easy-book/plano
tf-made-easy-book/terraform.tfstate.backup
tf-made-easy-book/.terraform/providers/registry.terraform.io/hashicorp/aws/5.88.0/linux_amd64/terraform-provider-aws_v5.88.0_x5
tf-made-easy-book/dynamodb/.terraform.lock.hcl
tf-made-easy-book/dynamodb/.terraform/providers/registry.terraform.io/hashicorp/aws/5.88.0/linux_amd64/LICENSE.txt
tf-made-easy-book/dynamodb/.terraform/providers/registry.terraform.io/hashicorp/aws/5.88.0/linux_amd64/terraform-provider-aws_v5.88.0_x5
tf-docs-tutorials/learn-terraform-init/.terraform/modules/modules.json
tf-docs-tutorials/learn-terraform-apply/.terraform
tf-made-easy-book/.terraform/environment
tf-made-easy-book/terraform.tfvars
tf-docs-tutorials/learn-terraform-import